.introduction {
  padding: 60px 0;
  .intro {
    @include breakpoint($ipad) {
      margin-bottom: 30px;
      padding: 20px;
    }
    text-align: center;
    line-height: 1.875;
    color: $title;
    margin: 10px auto 80px;
    max-width: 800px;
  }
}
