.sports-functions {
  &-sm {
    @include breakpoint($ipad) {
      display: block;
    }
    display: none;

    img {
      margin-top: 120px;
      width: 100%;
    }

    .slide-txt {
      margin-top: -20px;
      padding: 20px;

      h3 {
        text-align: center;
        color: inherit;
        margin-bottom: 7px;
      }

      h2 {
        &.offsetLeft {
          transform: translateX(-10px);
        }

        text-align: center;
        font-size: 1.45rem;
        color: inherit;
        line-height: 1.2;
        margin-bottom: 18px;
      }

      p {
        text-align: center;
        font-size: 1rem;
        color: inherit;
        line-height: 1.5;
      }
    }
  }

  @include breakpoint($ipad){
    display: none;
  }
  $size: 100%;
  position: relative;
  width: $size;
  height: $size;
  overflow: hidden;
  padding-bottom: 12px;

  #slideContainer {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;

    .slide {
      .slide-wrapper {
        @include breakpoint($ipad) {
          flex-direction: column-reverse;
          align-items: center;
        }
        height: 720px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .slide-left {
          img {
            @include breakpoint($ipad) {
              position: absolute;
              z-index: 99;
              width: 78vw;
              height: auto;
              top: 160px;
            }
            @include breakpoint($ipad) {
              width: 90vw;
            }
            padding-left: 4vw;
            padding-right: 4vw;
            width: auto;
            height: 420px;
          }

          .slide-txt {
            padding: 2vw 4vw 2vw;

            h3 {
              color: inherit;
              margin-bottom: 7px;
            }

            h2 {
              &.offsetLeft {
                transform: translateX(-10px);
              }
              @include breakpoint($ipad){
                font-size: 1.55rem;
              }
              font-size: 1.75rem;
              color: inherit;
              line-height: 1.2;
              margin-bottom: 18px;
            }

            p {
              @include breakpoint($ipad){
                font-size: .9rem;
              }
              font-size: 1rem;
              color: inherit;
              line-height: 1.375;
            }
          }

          flex: 0 1 50%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: column;
          color: $title;
        }

        .slide-right {
          @include breakpoint($ipad) {
            flex: 0 1 23.5vh;
            width: 100%;
            height: 250px !important;
          }
          flex: 1 1 50%;
          height: 100%;
          opacity: 1;
          display: flex;
          align-items: center;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      flex: 1 0 100%;
      width: 100%;
      background-color: $featuresBG;
    }

  }

  .buttons-container {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    justify-content: space-between;

    #left3 {
      position: relative;

      &:before {
        width: 9px;
        height: 56px;
        content: "\008B";

      }
    }

    #right3 {
      position: relative;

      &:before {
        height: 56px;
        content: "\009B";

      }
    }

    .btn {

      @include breakpoint($ipad) {
        margin: 10px;
      }

      &:hover {
        opacity: 0.4;
      }

      &:focus {
        outline: none;
      }

      color: #5e5e5e;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-width: unset;
      border-style: unset;
      width: 30px;
      height: 30px;
      background-color: white;
      padding: 0.5rem;
    }
  }

  .pagination {
    width: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;

    .circle {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-50%, -50%);
        border: 0 solid silver;
        border-radius: 50%;
      }

      &.active {
        opacity: 1;

        &:before {
          border: 1px solid #535150;
        }
      }

      margin: 0 9px;
      position: relative;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #758a94;
      opacity: 0.4;
    }
  }
}
